[all]
localhost               ansible_connection=local

[servers]
1.2.3.4

[all:vars]
ansible_python_interpreter=.venv/bin/python3

[servers:vars]
ansible_user=root
ansible_python_interpreter=/usr/bin/python3

[servers:vars]
ansible_become=yes
ansible_become_method=sudo
